.sucursales{
    margin-top: 100px;
    color: white;
    
}

.lugar{
    margin-top: 25px;
}

.mapa{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
   
}
.mapas {
    width: 100%;
    height: 450px;
}

.lugar{
    background-color: black;
}

.lugar:hover{
    background-color: red;
}